{% extends "index.twig" %}

{% block content %}
<div class="container" id="formContainer">
    <form action="{{ action }}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" >
        </div>
        <button class="btn" type="submit">{{ submitLabel }}</button>
    </form>
</div>
{% endblock %}